<html ng-app="app" class="ng-scope translated-ltr"><head lang="pt_bra"><style type="text/css">.truste_cursor_pointer {cursor: pointer;}.truste_border_none {border: none;}</style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>LUIZ SCHIFFLER | My Doterra</title>
<link rel="icon" type="image/png" href="favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- vendor css -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Parisienne">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!--custom css-->
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/overrides.css">
</head>
<body id="body" class="page-homepage pageType-ContentPage template-pages-layout-globalHomePageTemplate pageLabel-homepage language-en">
<!-- TrustArc Banner -->
<div id="consent_blackbar"></div>
<!-- End TrustArc banner -->
<!--pulledFromApp-->
<div class="off-canvas-wrap">
<div class="inner-wrap">
<!-- ngView:  --><div ng-view="" class="view ng-scope" autoscroll="true"><div id="home" class="ng-scope">
<!-- Navigation -->
<header class="body-container">
<nav class="navbar navbar-custom">
<div class="navbar-inverse navbar-lower">
<div class="navbar-section">
<div class="navbar-header mobile-header">
<div class="logoCont">
<div class="yCmsComponent logo"><a href="#/"><div class="simple_banner" style="background-image:url(img/logo.png);" title="Consultor de Bem-Estar dōTERRA"></div></a></div>
</div>
<button type="button" ng-click="toggleNav()" id="mobile_menu_bars" class="navbar-toggle fa fa-bars"></button>
</div>
<div class="navbar-collapse navbar-collapse-custom" id="navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="/ShoppingCart/index.cfm?retail=1&amp;OwnerID=14434742" target="_blank" analytics-on="" analytics-category="Links" analytics-event="Navigation" analytics-label="Shop" class="ng-binding">Loja</a></li>
<!--<li ><a href="https://beta-doterra.myvoffice.com/Application/index.cfm?EnrollerID=14434742&Theme=DefaultTheme&ReturnURL=beta-doterra.myvoffice.com/luizschiffler&LNG=en_dot&iact=1" target="_blank" analytics-on analytics-category="{{template.nav.googleAnalytics.category}}" analytics-event="{{template.nav.googleAnalytics.event}}" analytics-label="{{template.nav.links[1].analyticsLabel}}">{{ template.nav.links[1].name }}</a></li>-->
<li><a class="toggle_mobile_nav ng-binding" ng-href="#/joinAndSave" href="#/joinAndSave">Cadastre-se na doTERRA e Economize</a></li>
<li><a class="toggle_mobile_nav ng-binding" ng-href="#/essentialOils101" href="#/essentialOils101">Instruções Básicas sobre Óleos Essenciais</a></li>
<!--<li><a class="toggle_mobile_nav" ng-href="{{ template.nav.links[3].url }}">{{ template.nav.links[3].name }}</a></li>-->
<!--<li><a class="toggle_mobile_nav" ng-href="{{ template.nav.links[4].url }}">{{ template.nav.links[4].name }}</a></li>-->
<li id="navLanguage" class="dropdown nav-header logged-in">
<a class="dropdown-toggle" data-toggle="dropdown">
LUIZ SCHIFFLER <i class="fa fa-caret-down"></i>
</a>
<div class="dropdown-menu login-section">
<ul class="list-unstyled">
<div class="logged-in">
<li><a class="toggle_mobile_nav ng-binding" href="https://wa.me/5527995156017?text=Ol%C3%A1%21+Gostaria+de+saber+mais.">Fale Conosco</a></li>
</div>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</nav>
</header>
<!-- ngInclude: currentContInclude.url --><div class="contInclude ng-scope" ng-include="currentContInclude.url"><div class="home ng-scope">
<div class="stripe stripe-mobile">
<div class="body_container_home">
<div class="row">
<div id="container" class="container" style="padding: 0 60px;">
<div class="container-fluid secondary-page">
<div class="col-md-9 col-sm-8 home_text">
<h1 class="ng-binding">Bem-vindo.</h1>
<p class="ng-binding">Nossos óleos essenciais puros estão revolucionando o modo como as famílias cuidam de seu bem-estar. Aproveitamos os elementos mais poderosos da natureza e compartilhamos estes presentes por meio de nossa comunidade global de Consultores de Bem-Estar.</p>
</div>
<div class="col-md-3 col-sm-4">
<div class="bioCont" id="bioCont">
<div class="advocate">
<!--infotrax tag for bio image-->
<img src="img/DefaultPhoto.jpg">
​
<h6><!--infotrax tag for bio name--> LUIZ SCHIFFLER</h6>
<small class="ng-binding">Consultor de Bem-Estar</small>
</div>
<p class="statement"><!--infotrax tag for bio blurb--></p>
<a href="https://wa.me/5527995156017?text=Ol%C3%A1%21+Gostaria+de+saber+mais." class="ng-binding">Fale Conosco</a>
</div>
</div>
<div class="col-md-9 col-sm-8 video_container" style="margin-top: -123.587px;">
<div ng-controller="ModalCtrl" class="videos ng-scope">
<script type="text/ng-template" id="modalContent.html">
<div class="flex-video-wrapper">
<div class="flex-video">
<div youtube-directive youtube-id="youtubeId" autoplay="autoplay">
</div>
</div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>
<!-- ngRepeat: video in content.pages.home.videos --><div ng-repeat="video in content.pages.home.videos" class="col-sm-4 videoContent ng-scope">
<a ng-click="open(video.url, video.autoplay)" aria-hidden="true" analytics-on="" analytics-category="Videos" analytics-event="Home Page" analytics-label="Why doTERRA?">
<img ng-src="img/why429x286.jpg" alt="Clique para baixar o vídeo Por Que doTERRA?" src="img/why429x286.jpg">
<h6 ng-bind-html="video.label" class="ng-binding">Por Que doTERRA?</h6>
</a>
</div><!-- end ngRepeat: video in content.pages.home.videos --><div ng-repeat="video in content.pages.home.videos" class="col-sm-4 videoContent ng-scope">
<a ng-click="open(video.url, video.autoplay)" aria-hidden="true" analytics-on="" analytics-category="Videos" analytics-event="Home Page" analytics-label="What is an Essential Oil?">
<img ng-src="img/what429x286.jpg" alt="Clique para baixar o vídeo “O Que É Um Óleo Essencial?" src="img/what429x286.jpg">
<h6 ng-bind-html="video.label" class="ng-binding">O Que É Um&nbsp;Óleo Essencial?</h6>
</a>
</div><!-- end ngRepeat: video in content.pages.home.videos --><div ng-repeat="video in content.pages.home.videos" class="col-sm-4 videoContent ng-scope">
<a ng-click="open(video.url, video.autoplay)" aria-hidden="true" analytics-on="" analytics-category="Videos" analytics-event="Home Page" analytics-label="Commitment to Purity">
<img ng-src="img/ready429x286.jpg" alt="Clique para baixar o vídeo Compromisso Com a Pureza" src="img/ready429x286.jpg">
<h6 ng-bind-html="video.label" class="ng-binding">Compromiso Com a Pureza</h6>
</a>
</div><!-- end ngRepeat: video in content.pages.home.videos -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--footer -->
<footer id="bottomFooter">
<!-- TrustArc Footer -->
<div id="teconsent" style="display: none;" consent="0,1,2" aria-label="Abra o Modal de Preferências de Cookies" role="complementary"><a role="link" id="icon-id06338445659118219" tabindex="0" lang="pt" aria-haspopup="true" aria-label="Preferências de Cookies" class="truste_cursor_pointer">Preferências de Cookies</a></div>
<!-- End TrustArc Footer -->
<div class="row">
<div id="footer-left" class="col-xs-12 col-sm-6">
<h4 class="quick_links_title ng-binding">Links Rápidos</h4>
<ul class="footerLinks">
<!-- ngRepeat: link in template.footer.quickLinks.content --><li ng-repeat="link in template.footer.quickLinks.content" class="ng-scope">
<a ng-href="http://www.doterra.com" target="_blank" analytics-on="" analytics-category="Links" analytics-event="Footer" analytics-label="dōTERRA Internacional" class="ng-binding" href="http://www.doterra.com">dōTERRA Internacional
</a>
</li><!-- end ngRepeat: link in template.footer.quickLinks.content --><li ng-repeat="link in template.footer.quickLinks.content" class="ng-scope">
<a ng-href="https://www.doterra.com/BR/pt_BR/healing-hands-foundation-about" target="_blank" analytics-on="" analytics-category="Links" analytics-event="Footer" analytics-label="Fundação Healing Hands" class="ng-binding" href="https://www.doterra.com/BR/pt_BR/healing-hands-foundation-about">Fundação Healing Hands
</a>
</li><!-- end ngRepeat: link in template.footer.quickLinks.content --><li ng-repeat="link in template.footer.quickLinks.content" class="ng-scope">
<a ng-href="https://media.doterra.com/br-otg/pt/brochures/product-guide.pdf" target="_blank" analytics-on="" analytics-category="Links" analytics-event="Footer" analytics-label="Guia de Produtos" class="ng-binding" href="https://media.doterra.com/br-otg/pt/brochures/product-guide.pdf">Guia de Produtos
</a>
</li><!-- end ngRepeat: link in template.footer.quickLinks.content --><li ng-repeat="link in template.footer.quickLinks.content" class="ng-scope">
<a ng-href="https://www.doterra.com/BR/pt_BR/literature" target="_blank" analytics-on="" analytics-category="Links" analytics-event="Footer" analytics-label="Revista Leadership" class="ng-binding" href="https://www.doterra.com/BR/pt_BR/literature">Revista Leadership
</a>
</li><!-- end ngRepeat: link in template.footer.quickLinks.content -->
</ul>
</div>
<div id="footer-right" class="col-xs-12 col-sm-6">
<!-- <div id="footer-right" class="col-xs-12"> -->
<div class="ng-binding"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2023 dōTERRA. </font><font style="vertical-align: inherit;">Todos os direitos reservados.</font></font></div>
<div id="trademark" class="ng-binding"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Exceto conforme indicado, todas as palavras com marca comercial ou símbolo de marca registrada são marcas comerciais ou marcas registradas da dōTERRA Holdings, LLC.</font></font></div>
<div class="socMedia-box">
<!-- ngRepeat: link in template.footer.socialLinks.content --><span ng-repeat="link in template.footer.socialLinks.content" class="ng-scope">
<a class="socMedia" target="_blank" ng-href="https://www.instagram.com/doterrabr/" analytics-on="" analytics-category="Links" analytics-event="Social" analytics-label="dōTERRA Instagram" href="https://www.instagram.com/doterrabr/">
<i class="fa fa-instagram"></i>
</a>
</span><!-- end ngRepeat: link in template.footer.socialLinks.content --><span ng-repeat="link in template.footer.socialLinks.content" class="ng-scope">
<a class="socMedia" target="_blank" ng-href="https://www.facebook.com/doTERRAbr/" analytics-on="" analytics-category="Links" analytics-event="Social" analytics-label="AromaTouch Facebook" href="https://www.facebook.com/doTERRAbr/">
<i class="fa fa-facebook"></i>
</a>
</span><!-- end ngRepeat: link in template.footer.socialLinks.content --><span ng-repeat="link in template.footer.socialLinks.content" class="ng-scope">
<a class="socMedia" target="_blank" ng-href="https://twitter.com/doterrabr" analytics-on="" analytics-category="Links" analytics-event="Social" analytics-label="dōTERRA Twitter" href="https://twitter.com/doterrabr">
<i class="fa fa-twitter"></i>
</a>
</span><!-- end ngRepeat: link in template.footer.socialLinks.content --><span ng-repeat="link in template.footer.socialLinks.content" class="ng-scope">
<a class="socMedia" target="_blank" ng-href="https://www.youtube.com/doterrabr" analytics-on="" analytics-category="Links" analytics-event="Social" analytics-label="dōTERRA YouTube" href="https://www.youtube.com/doterrabr">
<i class="fa fa-youtube"></i>
</a>
</span><!-- end ngRepeat: link in template.footer.socialLinks.content -->
</div>
</div>
</div>
</footer>
</div>
</div>
<a class="exit-off-canvas"></a>
</div>
</div>
<!-- vendor js -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.19/angular-route.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.19/angular-resource.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.19/angular-sanitize.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script> -->
<!-- <script src="js/mm-foundation-tpls-0.5.1.min.js"></script> -->
<!-- <script src="js/angulartics.js"></script> -->
<!-- <script src="js/angulartics-ga.js"></script> -->
<!-- <script src="js/app.js"></script> -->
<!-- <script src="js/controllers.js"></script> -->
<!-- <script src="js/services.js"></script> -->
<!-- <script src="js/directives.js"></script> -->
<script src="js/base.js"></script>
<script defer="">
var dist_id = '14434742'; 
localStorage.distId = dist_id;
</script>
</body></html>